<section>
    <div class="example-button-row">
        <!-- <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button> -->
        <!-- <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a> -->
        <button mat-fab color="accent" aria-label="add value to counter">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-fab color="warn" aria-label="add value to counter">
            <mat-icon>remove</mat-icon>
        </button>
    </div>
</section>

<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->